* {
	box-sizing: border-box;
	color: #333333;
}
body {
	margin: 0;
	position: relative;
}

@media (max-width: 575px) {
	h1 {
		margin: 20px 0 0 20px;
	}
	#container {
		display: block;
		width: 100%;
	}
	#img-container {
		margin: 100px 20px;
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
	#text-container {
		width: calc(100% - 40px);
		margin: 0 0 0 20px;
		display: block;
	}
	h2 {
		font-size: 48px;
		line-height: 61px;
	}
	p {
		font-size: 18px;
		text-align: left;
	}
	a {
		display: inline-block;
		margin-bottom: 40px;
	}
}

@media (min-width: 576px) {
	h1 {
		margin: 40px 0 0 77px;
	}
	#container {
		display: flex;
		align-items: center;
		width: 1171px;
		height: calc(100vh - 95px);
		margin: 0 auto;
	}
	#img-container {
		width: 539px;
		display: inline-block;
	}
	#text-container {
		margin-left: 40px;
		width: 588px;
		display: inline-block;
		vertical-align: top;
	}
	h2 {
		font-size: 64px;
		line-height: 95px;
	}
}

h1 {
	font-family: Inconsolata;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;
}
img {
	width: 100%;
	height: auto;
}
#text-container {
	font-family: space mono, monospace, sans-serif;
		letter-spacing: -0.035em;
}
h2 {
	margin: 0;
}
p {
	font-size: 24px;
	font-weight: 400;
	line-height: 35.64px;
	margin: 36px 0 88px;
}
#text-container a {
	font-family: Space Mono;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #FFFFFF;
	background: #333333;
	text-decoration: none;
	text-transform: uppercase;
	padding: 24px 43px 23px;
	margin-top: 1px;
}
#footer {
	text-align: center;
	color: #BDBDBD;
	font-family: Montserrat;
	width: 100%;
	margin: 0;
}
#footer span {
	font-weight: bold;
	color: #BDBDBD;
}
#footer a {
	color: #BDBDBD;
}

